
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #ede9a3;
}

.login-form {
    background: #1b8057;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
    height: max-content;
}

.login-form h2 {
    margin-bottom: 1.5rem;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #997732;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.login-form button:hover {
    background: #996600;
    transition: 0.5s;
}

.login-form p {
    margin-bottom: 1rem;
    color: white;
}

.login-form h2{
    color: white;
}

.login-form a {
    color: #070f4e;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}


.LoginHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 20vh;
    background: #1b8057;
    /* Primary color */
    color: white;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 7rem;
}

.LoginHeader h1{
    color: #ffffff;
}


footer {
    width: 100%;
    background: #cbf078;
    /* Primary color */
    color: white;
    padding: 0 1rem;
    text-align: center;
    min-height: 5vh;
    margin-top: auto;
    /* Push the footer to the bottom */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
}


