/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Styles */
.mood-tracker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ede9a3;
    text-align: center;
}

.mood-tracker-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling on the container */
}

.content {
    flex-grow: 1;
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 20vh;
    background: #1b8057;
    /* Primary color */
    color: white;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.Header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: white;
}

.back-button{
    text-decoration: none;
    background-color: rgb(170, 93, 42);
    padding: 5px 10px;
    color: black;
}

.back-button:hover{
    color: #ffffff;
    transition: 0.5s;
}

.logout-button {
    background-color: #f44336;
    /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d32f2f;
    /* Darker red on hover */
}

.mood-checkboxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); /* Adjust the minmax value as needed */
    gap: 10px;
    margin-bottom: 15px;
}

.mood-checkboxes label {
    display: flex;
    color: black;
    width: max-content;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    border-radius: 5px; /* Optional: Add some border radius for a smoother look */
}
/* Form Styles */
.mood-tracker-container form {
    background: #955c00;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50vw;
}

.mood-tracker-container form input,
.mood-tracker-container form select,
.mood-tracker-container form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    /* margin-bottom: 1rem; */
    border: 1px solid #a63d00;
    border-radius: 5px;
    background-color: #dba857;
}

.mood-tracker-container form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #1b8057;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.mood-tracker-container form button:hover {
    background: #00c777;
}

/* Mood Entries Styles */
.mood-tracker-container .mood-entry {
    background: #dba857;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 75vw;
    border: 10px solid #955c00
}

.mood-tracker-container .mood-entry h3 {
    margin-bottom: 0.5rem;
}

.mood-tracker-container .mood-entry p {
    margin-bottom: 0.5rem;
}
