.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #ede9a3; 
}

.signup-form {
    background: #1b8057;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
}

.signup-form h2 {
    margin-bottom: 1.5rem;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #997732;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.signup-form button:hover {
    background: #996600;
    transition: 0.5s;
}

.signup-form p {
    margin-bottom: 1rem;
    color: white;
}

.signup-form h2{
    color: white;
}

.signup-form a {
    color: #070f4e;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

/* Header and Footer Styles */
header {
    margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #777;
}

.SignupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 20vh;
    background: #1b8057;
    /* Primary color */
    color: white;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 7rem;
}

.SignupHeader h1{
    color: #ffffff;
}
